@import 'reset.css';

h1 {
  font-size: 3rem;
  font-weight: 900;
}
h2,
h3 {
  margin: 2rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1rem;
  color: rgb(3, 3, 106);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
  margin: 2rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
